{% extends '../main.twig' %}

{% block main %}
	{% include '../components/main-header.twig' with promo|merge({ bemMix: 'page-main__header' }) %}

	<section class="page-main__section container">
		<h2 class="visually-hidden">{{ advantagesHeading }}</h2>

		<ul class="page-main__grid grid">
			{% for advantage in advantages %}
				<li>
					{% include '../components/content-card.twig' with { bemMix: 'grid__card', content: advantage } %}
				</li>
			{% endfor %}
		</ul>
	</section>

	{% include '../components/content-section.twig' with about|merge({ bemMix: 'page-main__content-section' }) %}

	{% include '../components/catalog.twig' with services %}

	{% include '../components/content-section.twig' with feedback %}
{% endblock %}

{% block modal %}
	{% include '../components/modal.twig' with { component: 'content-section', data: callback } %}
{% endblock %}
