.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin: 5px 20px;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-family: $ff-pt-mono;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: $color-deep-sky-blue;
  }

  &--mailto::before {
    @include mask("mailto");
  }

  &--tel::before {
    @include mask("tel");
  }
}

.contacts__text {
  margin-left: 15px;

  @include vp-1023 {
    @include visually-hidden;
  }
}
