.content-section {
  &--form {
    position: relative;
    padding: 165px 0 235px;
    color: $color-default-white;
    background-color: $color-deep-sky-blue;
    background-image: linear-gradient();

    @include vp-1023 {
      padding: 45px 0 118px;
    }

    @include vp-767 {
      padding-bottom: 83px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      width: calc(50% + 10px);
      background-color: rgba($color-black-pearl, 0.5);

      @include vp-1023 {
        display: none;
      }
    }

    .content-section__body {
      padding-left: 15px; // Pixelperfect

      > p {
        margin-left: 5px; // Pixelperfect
      }

      @include vp-1023 {
        padding-left: 0;

        h2 {
          margin-bottom: 8px;
        }

        > p {
          margin-left: 0;
        }
      }

      @include vp-767 {
        h2 {
          font-size: 30px;
        }
      }
    }

    .content-section__image {
      margin-top: 6px; // Pixelperfect

      @include vp-1023 {
        display: none;
      }
    }
  }

  &:not(&--form) {
    h2 {
      @include vp-1023 {
        margin-top: -4px; // Pixelperfect
      }
    }
  }
}

.content-section__inner {
  position: relative;
  display: flex;

  &:not(&--closable) {
    align-items: center;
  }
}

.content-section__image {
  flex-shrink: 0;
  max-width: 42%;
  margin-right: 100px;

  @include vp-1023 {
    margin-right: 24px;
  }

  @include vp-767 {
    display: none;
  }
}

.content-section__body {
  @include vp-1023 {
    width: 100%;
  }

  h2 {
    margin: 0 0 13px;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;

    @include vp-767 {
      margin-bottom: 11px;
      font-size: 28px;
      line-height: 42px;
    }
  }

  > p {
    margin: 0;
    line-height: 21.5px;
    font-family: $ff-pt-mono;

    + p {
      margin-top: 22px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;

      + p {
        margin-top: 18px;
      }
    }
  }

  &--closed {
    p:nth-of-type(n + 3) {
      display: none;
    }
  }

  &:not(&--closed) {
    .mobile-hide {
      @include vp-767 {
        display: initial;
      }
    }
  }
}

.content-section__btn {
  min-width: 180px;
  min-height: 45px;
  margin-top: 40px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-top: 18px;
  }

  @include vp-767 {
    min-width: 160px;
    min-height: 0;
    margin-top: 14px;
  }
}

.content-section__form {
  margin: 35px 10px 0 5px;

  @include vp-1023 {
    margin: 25px 0 0;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.content-section--modal {
  padding: 0;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    padding: 0;
  }

  &::before {
    content: none;
  }

  .content-section__inner {
    padding: 0;
  }

  .content-section__body {
    padding: 0;

    > p {
      margin: 0 30px 0 0;
    }
  }

  h2 {
    margin: -4px 30px 5px 0;
    font-size: 30px;
    line-height: 42px;
  }

  .content-section__form {
    margin: 38px 0 0;
  }
}
