.logo {
  position: relative;
  padding-left: 70px;
}

.logo__image {
  position: absolute;
  top: 0;
  left: 0;
}

.logo__title {
  margin: 4px 0 2px;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: $color-alice-blue-light;
}

.logo__description {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto;
  opacity: 0.7;
}
