.main-header {
  position: relative;
  display: flex;
  min-height: 880px;
  padding: 144px 0 120px;
  overflow: hidden;
  color: $color-alice-blue-light;
  background-color: $color-black-pearl;
}

.main-header__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: none;
  margin: 0 auto;
  object-fit: cover;
}

.main-header__container {
  margin: auto;
  padding: 0 40px 0 175px;
  z-index: 2;

  h2 {
    margin: 0 0 32px;
    font-weight: 700;
    letter-spacing: 0.07em;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 32px;
    font-size: 22px;
    line-height: 34px;
    font-family: $ff-pt-mono;
  }
}

.main-header__btn {
  @include btn;

  display: table;
  margin-top: 48px;
  padding: 17px 27px;
  font-size: 18px;
  line-height: 21px;
  background-color: $color-deep-sky-blue;
}
