.page-main__header {
  + .page-main__section {
    margin-top: 120px;

    @include vp-1023 {
      margin-top: 80px;
    }
  }
}

.page-main__section {
  margin-bottom: 120px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page-main__content-section {
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 80px;
  }
}

.page-main__grid {
  margin: 0;
}
