.page-footer {
  padding: 50px 0 20px;
  color: $color-default-white;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-bottom: 60px;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.page-footer__inner {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 335fr 460fr 345fr;
  grid-template-areas: "logo sitemap contacts" "socials sitemap contacts";
  gap: 35px 40px;
  align-items: start;

  @include vp-1023 {
    grid-template-columns: 215px 1fr;
    grid-template-areas: "logo socials" "sitemap contacts";
    column-gap: 134px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "socials" "sitemap" "contacts";
    gap: 0;
  }
}

.page-footer__logo {
  grid-area: logo;

  @include vp-767 {
    justify-self: center;
    margin-right: 6px; // Pixelperfect
  }
}

.page-footer__socials {
  grid-area: socials;
  justify-self: start;
  margin: 0 0 0 15px;

  @include vp-1023 {
    justify-self: end;
    align-self: center;
    transform: translateY(-3px); // Pixelperfect
  }

  @include vp-767 {
    justify-self: center;
    margin: 23px 0 25px 3px;
  }
}

.page-footer__spoiler {
  grid-area: contacts;
  margin: 5px 0;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    margin: 0 -25px;

    + .page-footer__spoiler {
      margin-top: -1px;
    }
  }

  &--sitemap {
    grid-area: sitemap;

    ul {
      column-count: 2; // Pixelperfect
      column-gap: 40px;

      @include vp-1023 {
        column-count: 1;
      }
    }

    li:last-child {
      margin-bottom: 60px; // Pixelperfect

      @include vp-1023 {
        margin-bottom: 0;
      }
    }
  }
}
