.page-header {
  padding: 30px 0 40px;
  color: $color-alice-blue-light;
  background-image: $gradient-black-pearl-to-transparent;

  @include vp-1023 {
    padding: 20px 0 30px;
  }

  @include vp-767 {
    padding: 15px 0 20px;
  }
}

.page-header__inner {
  display: grid;
  grid-template-columns: minmax(210px, 28fr) 50fr 29fr;
  gap: 75px;
  align-items: center;

  @include vp-1023 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.page-header__contacts {
  margin: 0;

  @include vp-1023 {
    justify-content: end;
    transform: translate(-9px, -5px); // Pixelperfect
  }

  @include vp-767 {
    transform: translate(0, -3px); // Pixelperfect
  }
}

.page-header__btn {
  width: 160px;
  margin-left: 70px;

  @include vp-1023 {
    @include visually-hidden;
  }
}
