<section class="content-section container {{ bemMix }}" data-content-section>
	{% if image %}
		<div class="content-section__image">
			{% include 'picture.twig' with { image } %}
		</div>
	{% endif %}

	<div class="content-section__body">
		{{ content }}
	</div>
</section>
