{% set hasForm = contains(content, '<form') %}

<section
	class="content-section {{ hasForm ? 'content-section--form' }} {{ bemMix }}"
	{{ id ? 'id="' ~ id ~ '"' }}
	data-content-section
>
	<div class="content-section__inner container">
		{% if image %}
			<div class="content-section__image">
				{% include 'picture.twig' with { image } %}
			</div>
		{% endif %}

		<div class="content-section__body">
			{{ content }}
		</div>
	</div>
</section>
