<header class="page-header {{ bemMix }}" data-fix-block>
	<div class="page-header__inner container">
		{% include 'logo.twig' with { bemMix: 'page-header__logo' }  %}

		{% include 'contacts.twig' with { bemMix: 'page-header__contacts', isHeading: true }  %}

		{% if callbackLink %}
			<a
				class="page-header__btn btn btn--transparent"
				href="{{ callbackLink.url }}"
				{{ callback ? 'data-open-modal="' ~ callback.modalId ~ '"' }}
			>
				{{ callbackLink.title }}
			</a>
		{% endif %}
	</div>
</header>
