<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ projectName }}</title>
		<link rel="stylesheet" href="css/style.min.css{{ version }}">
		<link href="fonts/roboto-condensed-700.woff2" rel="preload" as="font" crossorigin="anonymous">
		<link href="fonts/roboto-condensed-400.woff2" rel="preload" as="font" crossorigin="anonymous">
		<link href="fonts/pt-mono.woff2" rel="preload" as="font" crossorigin="anonymous">
	</head>

	<body>
		<div class="page">
			{% block header %}
				{% include '../components/page-header.twig' with { bemMix: 'page__header' } %}
			{% endblock %}

			<main class="page__main page-main">
				{% block main %}{% endblock %}
			</main>

			{% block footer %}
				{% include '../components/page-footer.twig' with { bemMix: 'page__footer' } %}
			{% endblock %}

			{% include 'scripts.twig' %}
		</div>
	</body>
</html>
